<section class="container mt-4">
  <div class="card text-center">
    <h5 class="card-title">Hi, welcome to our food recipe app</h5>
    <p class="card-text">
      Browse through publicly available recipes for your next meal.
      <br/>Even more, create super juicy recipes that only you have access to 😉.
    </p>
    <div class="card-footer">
       <a class="btn fw-medium bg-yellow" href="<% request.path %>/users/sign_up" role="button">Sign up now</a>
    </div>
  </div>
</section>