<section class="container">
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement Unit</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @all_foods.each do |food| %>
        <tr>
          <td> <%= food.name %></td>
          <td> <%= food.measurement_unit %></td>
          <td> $<%= food.price %> </td>
          <td> <button class="btn btn-danger">Delete</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
