<section class="container">
  <div class="pt-4 pb-4 d-flex justify-content-between">
    <h2 class="fw-semibold">Add Ingredient</h2>
    <%= link_to "Cancel", recipe_path(@recipe), class: "btn btn-warning" %>
  </div>
  <%= render "form", recipe_food: @recipe_food %>
  <br>
</section>